<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

<form method="POST" action="/process_login">
    <h2>Please, enter your credentials</h2>
    <label for="username">Username:</label>
    <br>
    <input type="text" id="username" name="username" required>
    <br><br>
    <label for="password">Password:</label>
    <br>
    <input type="password" id="password" name="password" required>
    <br><br>
    <input type="submit" value="Login">

    <div th:if="${param.error}" style="color: red">
    Name and password invalid.
    </div>

</form>

</body>
</html>